.orderBy {
  max-width: 45%;
  display: flex;
  border-radius: 5px;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.orderBy select {
  color: black;
  max-height: 30px;
  font-size: 70%;
}

.search {
  max-width: 45%;
  display: flex;
}

.search button {
  max-width: 35%;
  font-size: 70%;
  text-align: center;
}

.orderBy p {
  display: none;
}

.search-input {
  margin-right: 0.5%;
  width: 50%;
  font-size: 70%;
}

.mainConteiner {
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.gallery {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: inherit;
  background-color: black;
}

.artObjConteiner {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: inherit;
  background-color: black;
  display: flex;
  justify-content: center;
}

.artObjConteiner li {
  list-style-type: none;
  margin: 20px 15px;
}

.artObject {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
}

.artObject:hover .artObj-modal {
  display: flex;
  transition: 0.5s;
}

.artObj-modal {
  position: absolute;
  min-height: 70px;
  width: 100%;
  font-size: 13px;
  line-height: normal;
  opacity: 0.8;
  transition: background-color 0.5s ease;
  background-color: lightgrey;
  padding: 2%;
  bottom: 0;
  border-color: #4d4d4d;
  border-width: 1px 1px 1px 1px;
  display: none;
}

.headerImage {
  background-size: cover;
  height: 100%;
  width: auto;
  cursor: pointer;
}

.noResults {
  font-size: 70px;
  color: #999;
  text-align: center;
}

.spinner {
  margin: 0 auto;
  width: 10%;
}

.orderOptions {
  margin: 2%;
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
  background-color: black;
  justify-content: space-between;
}

.search {
  width: 300px;
  display: flex;
}

.search-input {
  margin-right: 10px;
}

.viewParametrs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  align-items: center;
  padding: 5px;
}

.paginationConteiner {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.pagination {
  display: inline-block;
  display: flex;
}

.pagination ul {
  display: flex;
  justify-content: center;
}

.paginationConteiner button {
  font-size: 70%;
}

.pagination a {
  border: none;
  color: white;
  float: left;
  padding: 4px 4px;
  text-decoration: none;
}

a:hover,
a:focus {
  cursor: pointer;
  color: red !important;
}

.perPage {
  display: flex;
}

.perPage a {
  outline: 0 !important;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  height: 30px;
  font-size: 15px;
  box-shadow: 0 0 3px 0 rgb(212, 228, 228);
}

.perPage button:hover,
.perPage button:focus,
.perPage button:active {
  cursor: pointer;
  color: red;
}

.hover {
  color: red !important;
}

.overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 2;
  transition: all 1s linear;
}

  .search {
    width: 300px;
    height: 30px;
    display: flex;
  }

  .search-input {
    margin-right: 10px;
  }

  .orderOptions {
    display: flex;
    width: inherit;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: black;
  }

  .orderBy p {
    display: inline-block;
  }

  .orderBy select {
    height: 30px;
  }

  .pagination ul {
    width: 300px;
  }

  .paginationConteiner button {
    font-size: 70%;
    width: 60px;
    ;
  }

.headImage {
  width: 100%;
  height: 5%;
}
