<div [class]="isPopupShown ? 'overlay' : 'noOverlay'"></div>

<div class="main-conteiner">
  <img class="headImage" src="assets/banner.jpg" />

  <section class="orderOptions">
    <div class="search">
      <input class="search-input" placeholder="Search keyword" [formControl]="query" />

      <button (click)="search()">Search</button>
    </div>

    <div class="orderBy">
      <label>
        Order By
        <select (change)="orderByParam($event.target.value)">
          <option>relevance</option>

          <option>objecttype</option>

          <option>chronologic</option>

          <option>achronologic</option>

          <option>artist</option>

          <option>artistdesc</option>
        </select>
      </label>
    </div>
  </section>

  <section class="viewParametrs">
    <div class="paginationConteiner">
      <button
        [routerLink]="['/main', currentPage > 1 ? currentPage - 1 : 1]"
        [queryParams]="newQuery !== '' ? { artist: newQuery } : ''"
        (click)="prevPage()"
      >
        Prev Page
      </button>

      <div class="pagination" *ngFor="let page of pages">
        <a
          [routerLink]="['/main', page]"
          [queryParams]="newQuery !== '' ? { artist: newQuery } : ''"
          (click)="search(page)"
          [className]="page === currentPage ? 'hover' : 'no-Hover'"
        >
          {{ page }}
          <span *ngIf="countOfPages > 6 && page === currentPage + 2">
            ...
          </span>
        </a>
      </div>

      <button
        [routerLink]="['/main', countOfPages === 1 ? 1 : currentPage + 1]"
        [queryParams]="newQuery !== '' ? { artist: newQuery } : ''"
        (click)="nextPage()"
      >
        Next Page
      </button>
    </div>

    <div class="perPage">
      <button type="button" (click)="search(currentPage, 10)">
        10
      </button>

      <button type="button" (click)="search(currentPage, 50)">
        50
      </button>

      <button type="button" (click)="search(currentPage, 100)">
        100
      </button>
    </div>
  </section>

  <section class="gallery">
    <ul class="artObjConteiner" *ngIf="artObjects.length">
      <li class="artObject" *ngFor="let artObject of artObjects">
        <img
          class="headerImage"
          [src]="artObject.headerImage.url"
          (click)="showArtObjectPopup(artObject)"
          *ngIf="artObject.headerImage.url"
        />

        <div class="artObj-modal">
          <p>{{ artObject.longTitle }}</p>
        </div>
      </li>
    </ul>

    <img
      class="spinner"
      src="assets/spinner.mov.gif"
      *ngIf="!artObjects.length && !noResultsIsShown"
    />
  </section>

  <div class="noResults" *ngIf="noResultsIsShown">
    No Results
  </div>
</div>

<div id="artObject-Popup" *ngIf="artObject && isPopupShown">
  <div>
    <div class="webImage">
      <img [src]="artObject.webImage.url" />
    </div>

    <div class="artObject-Popup-description" *ngIf="description">
      <h3>
        <i>{{ artObject.title }}</i>
      </h3>

      <p>{{ description }}</p>
    </div>
  </div>

  <div class="popup-buttons">
    <button type="button" (click)="goToDetailsPage(artObject.objectNumber)">
      View more details
    </button>

    <button (click)="closePopup()">Close</button>
  </div>
</div>
