<div [class]="isPopupShown ? 'overlay' : 'noOverlay'"></div>

<div class="main-conteiner">
  <img class="headImage" src="assets/banner.jpg" />

  <section class="orderOptions">
    <div class="search">
      <form [formGroup]="query" (ngSubmit)="searchByQuery()">
        <input class="search-input" placeholder="keyword" formControlName="keyword" />

        <button type="submit" [disabled]="!query.valid">Search</button>
      </form>
    </div>

    <div class="orderBy">
      <p>Order By</p>

      <select (change)="orderByParam($event.target.value)">
        <option>relevance</option>

        <option>objecttype</option>

        <option>chronologic</option>

        <option>achronologic</option>

        <option>artist</option>

        <option>artistdesc</option>
      </select>
    </div>
  </section>

  <section class="viewParametrs">
    <div class="paginationConteiner">
      <button [disabled]="currentPage === 1" (click)="prevPage()">
        Prev
      </button>

      <div class="pagination">
        <ul>
          <li *ngFor="let page of (pages | slice: page:3)">
            <a
              [routerLink]="['/main']"
              [queryParams]="{ page: page }"
              queryParamsHandling="merge"
              (click)="searchByParams()"
              [className]="page === currentPage ? 'hover' : 'no-hover'"
            >
              {{ page }}
            </a>
          </li>

          <li *ngIf="countOfPages > 6">
            <span>
              ...
            </span>
          </li>

          <li *ngFor="let page of (pages | slice: -3)">
            <a
              *ngIf="pages.length > 3"
              [routerLink]="['/main']"
              [queryParams]="{ page: page }"
              queryParamsHandling="merge"
              (click)="searchByParams()"
              [className]="page === currentPage ? 'hover' : 'no-hover'"
            >
              {{ page }}
            </a>
          </li>
        </ul>
      </div>

      <button [disabled]="countOfPages === 1 && currentPage === countOfPages" (click)="nextPage()">
        Next
      </button>
    </div>
    <div class="perPage">
      <a
        [routerLink]="['/main']"
        [queryParams]="{ perPage: 10, page: 1 }"
        queryParamsHandling="merge"
      >
        10
      </a>

      <a
        [routerLink]="['/main']"
        [queryParams]="{ perPage: 50, page: 1 }"
        queryParamsHandling="merge"
      >
        50
      </a>

      <a
        [routerLink]="['/main']"
        [queryParams]="{ perPage: 100, page: 1 }"
        queryParamsHandling="merge"
      >
        100
      </a>
    </div>
  </section>

  <section class="gallery">
    <ul class="artObjConteiner" *ngIf="artObjects.length">
      <li class="artObject" *ngFor="let artObject of artObjects">
        <div
          class="headerImage"
          [style.backgroundImage]="'url(' + artObject.headerImage.url + ')'"
          (click)="showArtObjectPopup(artObject)"
        ></div>

        <div class="artObj-modal">
          <p>{{ artObject.longTitle }}</p>
        </div>
      </li>
    </ul>

    <img
      class="spinner"
      src="assets/spinner.mov.gif"
      *ngIf="!artObjects.length && !noResultsIsShown"
    />
  </section>

  <div class="noResults" *ngIf="noResultsIsShown">
    No Results
  </div>
</div>

<app-popup (popupIsClosed)="closePopup()" *ngIf="isPopupShown"></app-popup>
