* {
  box-sizing: border-box;
}

button,
input,
select {
  transition: all 0.5s linear;
  border-radius: 3px;
  font-style: inherit;
  max-height: 50px;
  outline: 0;
  outline-offset: 0;
  font-family: inherit;
}

button:hover {
  background-color: #999;
  transition-duration: 0.3s;
  cursor: pointer;
}

.orderBy {
  background-position: 95% 50%;
  border-radius: 5px;
  color: white;
  display: flex;
}

.orderBy select {
  color: black;
  height: 30px;
}

.mainConteiner {
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.gallery {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: inherit;
  background-color: black;
}

.artObjConteiner {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: inherit;
  background-color: black;
  display: flex;
  justify-content: center;
}

.artObjConteiner li {
  list-style-type: none;
  margin: 20px 15px;
}

.artObject {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
}

.artObject:hover .artObj-modal {
  display: flex;
  transition: 0.5s;
}

.artObj-modal {
  position: absolute;
  min-height: 70px;
  width: 100%;
  font-size: 13px;
  line-height: normal;
  opacity: 0.8;
  transition: background-color 0.5s ease;
  background-color: lightgrey;
  padding: 1px;
  bottom: 0;
  border-color: #4d4d4d;
  border-width: 1px 1px 1px 1px;
  display: none;
}

.headerImage {
  height: 100%;
  width: auto;
  max-width: 100%;
  cursor: pointer;
}

.noResults {
  font-size: 70px;
  color: #999;
  text-align: center;
}

.spinner {
  margin: 0 auto;
  width: 10%;
}

.orderOptions {
  display: flex;
  width: inherit;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: black;
}

.search {
  width: 300px;
  height: 30px;
  display: flex;
}

.search-input {
  margin-right: 10px;
}

.viewParametrs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  align-items: center;
  padding: 5px;
}

.paginationConteiner {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  border: none;
  color: white;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
}

a:hover,
:focus {
  cursor: pointer;
  color: red !important;
}

.hover {
  color: red !important;
}

.perPage {
  display: flex;
}

.perPage button {
  outline: 0 !important;
  border: none;
  background-color: transparent;
  color: white;
  height: 30px;
  font-size: 15px;
  box-shadow: 0 0 3px 0 rgb(212, 228, 228);
}

.perPage button:hover,
:focus,
:active {
  cursor: pointer;
  color: red;
}

.overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 2;
  transition: all 1s linear;
}

#artObject-Popup {
  margin: auto;
  left: 0;
  right: 0;
  bottom: 10%;
  top: 10%;
  /* font-size: 15px; */
  padding: 2%;
  width: 100%;
  height: 100%;
  background-color: rgba(113, 111, 111);
  z-index: 5;
  display: flex;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s linear;
  color: #f1f1f1;
}

#artObject-Popup p,
h3 {
  bottom: 5%;
  line-height: 1.5;
  font-size: 3vw;
  text-align: justify;
}

#artObject-Popup div {
  margin-bottom: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: inherit;
}

.webImage {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 5px;
  max-width: 100%;
  min-width: 20%;
  max-height: 100%;
  min-height: 80%;
  margin-right: 3%;
}

.webImage img {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 2px #999;
}

@media (min-width: 760px) {
  #artObject-Popup {
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10%;
    top: 10%;
    max-height: 90%;
    min-height: 40%;
    max-width: 70%;
    min-width: 40%;
    border-radius: 15px;
    background-color: rgba(113, 111, 111, 0.8);
    border: 3px solid #f1f1f1;
    box-shadow: 0 0 30px rgb(212, 228, 228);
  }

  #artObject-Popup p,
  h3 {
    bottom: 5%;
    line-height: 1.5;
    font-size: 15px;
  }

  .webImage {
    margin: 0;
    max-width: 80%;
    min-width: 5%;
    max-height: 100%;
    min-height: 10%;
    border-radius: 5px;
  }

  .webImage img {
    min-width: 10%;
    max-width: 70%;
    min-height: 10%;
    max-height: 600px;
  }
}

.artObject-Popup-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 90%;
  min-width: 20%;
  flex-grow: inherit;
}

#artObject-Popup button {
  min-width: 20%;
  min-height: 100%;
}

.popup-buttons {
  width: 70%;
  min-height: 5%;
  margin: 0 auto;
}

.headImage {
  width: 100%;
  height: 5%;
}
