.details-conteiner {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: inherit;
  display: flex;
  align-items: center;
}

a {
  color: antiquewhite;
}

.webImage {
  margin: 4% 4%;
  max-width: 80%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: antiquewhite;
  height: 100%;
  align-items: center;
}

.details-description {
  width: 95%;
  line-height: 2;
  flex-grow: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 420px) {
  img {
    max-width: 90%;
  }
}

@media (min-width: 760px) {
  img {
    max-width: 95%;
    max-height: 480px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .border {
    margin: 0;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    position: relative;
    background-image: url('/assets/galPhoto.png');
  }

  .webImage {
    margin: 0 auto;
    max-height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    flex-grow: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    width: 100%;
    flex-direction: row;
  }

  .details-description {
    min-width: 10%;
    max-width: 30%;
    flex-grow: inherit;
    line-height: 2.5;
  }

  a:hover,
  :active {
    color: sienna;
    cursor: pointer;
  }
}
