.details-conteiner {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 30, 24, 0.8);
  background-image: url('/assets/galPhoto.png');
  background-size: contain;
  background-repeat: no-repeat;
  font-family: inherit;
}

a {
  color: antiquewhite;
  cursor: pointer;
  font-size: 20px;
}

a:hover {
  color: sienna;
  cursor: pointer;
}

button {
  box-shadow: 6px 6px 6px #999;
  transition: all 0.5s linear;
  border-radius: 5px;
  font-style: inherit;
  max-height: 30px;
  outline: 0;
  outline-offset: 0;
}

button:hover {
  background-color: #999;
  transition-duration: 0.3s;
  cursor: pointer;
}

.webImage {
  border-radius: 5px;
  width: 400px;
  height: 460px;
  margin: 6% 0 0 13%;
  box-shadow: 6px 6px 6px #999;
}

.content {
  margin: 0 auto;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  color: antiquewhite;
}

.details-description {
  max-width: 30%;
  line-height: 2;
}
